@model Usuario

<a asp-action="update" asp-controller="usuarios" asp-route-id="@Model.IdUsuario">Actualizar</a>
<div class="card">
    <div class="card-header">
        <h3>@Model.Nombre</h3>
        <p>@Model.Descripcion</p>
    </div>

    <div class="card-body row">
        @if(Model.Fotos != null){

        @foreach (Foto f in Model.Fotos)
        {
        <div class="col col-6">
            <h4>@f.Titulo</h4>
            <img src="@f.Imagen" style="width:150px;" />
        </div>
        }
        }

    </div>
</div>

